<ng-template #loader>
  <div class="loading">loading...</div>
</ng-template>
<section class="section section--lesson">
  <div class="section__content">
    <div class="section__wrapper section__wrapper--lesson-desc">
      <h1 class="section__title" *ngIf="!isLoading; else loader">
        {{ sectionContent | json }}
      </h1>
      <!-- <span class="section__subtitle" *ngIf="!isLoading; else loader">
        {{ sectionContent.meta.location }}
      </span>
      <p class="section__text" *ngIf="!isLoading; else loader">
        {{ sectionContent.meta.description }}
      </p> -->
      <div class="section__btns">
        <app-button></app-button>
      </div>
    </div>
    <div class="section__img"></div>
  </div>
</section>
