@import "variables";
@import "fonts";

.section--lesson {
  padding-top: 17px;
  .section__content {
    display: flex;
    @include break(768) {
      flex-direction: column-reverse;
    }
    .section__wrapper--lesson-desc {
      padding-right: 75px;
      max-width: 385px;
      padding-bottom: 80px;
      @include break(1200) {
        padding-right: 50px;
        padding-bottom: 50px;
      }
      @include break(768) {
        max-width: 100%;
        padding-bottom: 0;
      }
      .section__title {
        margin-top: 75px;
        font-size: 72px;
        font-weight: 700;
        line-height: 68px;
        @include break(1200) {
          font-size: 45px;
          line-height: 1.3;
        }
        @include break(768) {
          margin-top: 35px;
          font-size: 36px;
          line-height: 1.2;
        }
      }
      .section__subtitle {
        display: block;
        margin-top: 16px;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        @include break(1200) {
          font-size: 20px;
        }
        @include break(768) {
          font-size: 14px;
        }
      }
      .section--lesson__desc {
        font-size: 16px;
        padding-top: 40px;
        line-height: 1.5;
        @include break(1200) {
          font-size: 14px;
          padding-top: 20px;
        }
      }
      .section__btns {
        margin-top: 40px;
      }
    }
    .section__img {
      width: 100%;
      background: url(/assets/img/dance.jpg) right no-repeat;
      background-size: cover;
      @include break(768) {
        min-height: 390px;
      }
    }
  }
}
