@font-face {
  font-family: "icons";
  src: url("/assets/iconfonts/icons.eot");
  src: url("/assets/iconfonts/icons.eot?#iefix") format("eot"),
    url("/assets/iconfonts/icons.woff2") format("woff2"),
    url("/assets/iconfonts/icons.woff") format("woff"),
    url("/assets/iconfonts/icons.ttf") format("truetype"),
    url("/assets/iconfonts/icons.svg#icons") format("svg");
}

.icon:before {
  font-family: "icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
}

.icon-coaches:before {
  content: "\E001";
}

.icon-coffee:before {
  content: "\E002";
}

.icon-door:before {
  content: "\E003";
}

.icon-emotions:before {
  content: "\E004";
}

.icon-good-form:before {
  content: "\E005";
}

.icon-happiness:before {
  content: "\E006";
}

.icon-photos:before {
  content: "\E007";
}

.icon-star:before {
  content: "\E008";
}
