<div
  bsModal
  #loginModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  [config]="{ backdrop: 'static', keyboard: false }"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-child-name" class="modal-title pull-left">
          Login modal
        </h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input
              type="email"
              class="form-control"
              id="inputEmail"
              aria-describedby="emailHelp"
              placeholder="Enter email"
            />
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input
              type="password"
              class="form-control"
              id="inputPassword"
              placeholder="Enter password"
            />
          </div>
          <ul class="button-group">
            <li>
              <app-button
                [classList]="'btn btn-primary btn-sm form-btn'"
                [textContent]="'Submit'"
              ></app-button>
            </li>
            <li>
              <app-button
                [classList]="'btn btn-danger btn-sm form-btn'"
                [textContent]="'Cancel'"
                (click)="hideModal()"
              ></app-button>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>
