<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
<header class="header" *ngIf="!isLoading; else loader">
  <div class="custom-container header__wrapper">
    <div class="logo">
      <a href="#">
        <img src="assets/img/logo.svg" alt="logo" />
      </a>
    </div>
    <nav class="navigation" [ngClass]="{ 'active-nav': isOpen }">
      <ul class="navigation__list">
        <li class="navigation__title"><h3>Menu</h3></li>
        <li *ngFor="let item of navigationContent.content">
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        <li>
          <app-button
            *ngIf="!isMobile"
            [classList]="'dark-btn'"
            [textContent]="'Start'"
            (click)="showModal()"
          ></app-button>
          <app-button
            *ngIf="isMobile"
            [classList]="'brand-btn'"
            [textContent]="'Lets start'"
          ></app-button>
        </li>
      </ul>
    </nav>
    <button
      class="hamburger hamburger-spin"
      (click)="toggle_menu()"
      [ngClass]="{ 'active-nav': isOpen }"
    >
      <span class="hamburger__box">
        <span class="hamburger__inner"></span>
      </span>
    </button>
  </div>
</header>
