@import "variables";

.hamburger-wrapper {
  display: none;
  @include break(768) {
    display: flex;
  }
}

.header {
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    .logo {
      a {
        display: flex;
      }
    }
    .navigation {
      display: flex;
      align-items: center;
      position: relative;
      @media (min-width: 768px) {
        display: flex;
      }
      @include break(768) {
        display: none;
        position: absolute;
        background: $white-color;
        top: 0;
        width: 100%;
        left: 0;
        height: 100%;
        z-index: 20;
        display: flex;
        flex-direction: column;
        transform: translateY(-100%);
        transition: 0.5s all cubic-bezier(0.53, -0.1, 0.21, 1.21);
        &.active-nav {
          transform: translateY(0%);
        }
        &::before {
          content: "";
          height: 100%;
          width: 100%;
          position: absolute;
          background: url("/assets/img/menu.svg") right no-repeat;
          background-size: contain;
        }
        &::after {
          content: "";
          position: absolute;
          height: 4px;
          background: $brand-color;
          width: 100%;
          bottom: 0;
        }
      }
      .navigation__list {
        font-family: $secondary-font;
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 16px;
        @include break(768) {
          flex-direction: column;
          align-items: flex-start;
          line-height: 1.4;
          width: 100%;
          font-size: 36px;
          height: 70%;
          padding-top: 40px;
          padding-right: 0;
        }
        @include break(480) {
          padding-top: 0;
        }
        .navigation__title {
          display: none;
          @include break(768) {
            display: block;
          }
        }
        li {
          position: relative;
          display: flex;
          @include break(768) {
            font-family: $primary-font;
            font-weight: 700;
            font-size: 24px;
          }
          &:first-child {
            font-size: 36px;
          }
          &:last-child,
          &:first-child {
            @include break(768) {
              margin: 28px 24px;
            }
            &:hover::before {
              width: 0;
            }
          }
          & + li {
            margin-left: 24px;
            @include break(991) {
              margin-left: 14px;
            }
            @include break(768) {
              margin: 20px 24px;
            }
          }
          &::before {
            content: "";
            position: absolute;
            height: 1px;
            width: 0%;
            background: #000;
            transition: all 0.5s;
            bottom: -3px;
          }
          &:nth-child(even)::before {
            right: 0;
          }
          &:hover::before {
            width: 100%;
          }
        }
      }
    }
  }
}

@import "variables";

.hamburger {
  padding: 15px 15px;
  display: none;
  outline: none;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  position: relative;
  z-index: 99;
  &:hover {
    opacity: 0.7;
  }
  @include break(768) {
    display: flex;
  }
  &.is-active {
    &:hover {
      opacity: 0.7;
    }

    .hamburger__inner {
      background-color: #000;

      &::before,
      &::after {
        background-color: #000;
      }
    }
  }
}

.hamburger__box {
  width: 32px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 32px;
  height: 2px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;

  &::before,
  &::after {
    width: 32px;
    height: 2px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: -6px;
  }

  &::after {
    bottom: -6px;
  }
}

.hamburger-spin {
  .hamburger__inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &::before {
      transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    }

    &::after {
      transition: bottom 0.1s 0.25s ease-in,
        transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.is-active .hamburger__inner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

    &::before {
      top: 0;
      opacity: 0;
      transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
    }

    &::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.1s ease-out,
        transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
}
