<header class="header">
  <div class="container header__wrapper">
    <div class="logo">
      <a href="#">
        <img src="assets/img/logo.svg" alt="logo" />
      </a>
    </div>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__title"><h3>Menu</h3></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Our Coaches</a></li>
        <li><a href="#">Testimonials</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Lesson Review</a></li>
        <li><button class="default-button dark-btn">Start</button></li>
      </ul>
    </nav>
    <!-- <app-hamburger></app-hamburger> -->
  </div>
</header>
