<app-header (onShowLogin)="toggleLoginModal()"></app-header>
<div class="custom-container">
  <app-dance-lesson></app-dance-lesson>
  <app-services></app-services>
  <app-offer [isLogin]="isLogin" (onShowEdit)="toggleEditModal()"></app-offer>
  <app-coaches></app-coaches>
</div>
<app-footer></app-footer>
<app-login-modal
  *ngIf="loginModalState"
  (onShowLogin)="toggleLoginModal()"
  (onLogin)="successLogin()"
></app-login-modal>
<app-edit-content-modal
  *ngIf="editModalState"
  (onShowEdit)="toggleEditModal()"
></app-edit-content-modal>
