<section class="section">
  <h3 class="section__title">
    What we offer
  </h3>
  <p class="section__text">
    Our goal is not only to teach you how to dance but also give the best
    unforgettable memories about preparing to your event
  </p>
  <ul class="list list--offer">
    <li class="list__card">
      <span class="icon icon-coaches"></span>
      <p class="list__text">Talented Coaches</p>
    </li>
    <li class="list__card">
      <span class="icon icon-door"></span>
      <p class="list__text">Cozy rooms for training</p>
    </li>
    <li class="list__card">
      <span class="icon icon-coffee"></span>
      <p class="list__text">Coffee, tea, and cookies</p>
    </li>
    <li class="list__card">
      <span class="icon icon-good-form"></span>
      <p class="list__text">Good physical form</p>
    </li>
    <li class="list__card">
      <span class="icon icon-star"></span>
      <p class="list__text">
        Self Confidence and success on your event
      </p>
    </li>
    <li class="list__card">
      <span class="icon icon-emotions"></span>
      <p class="list__text">Exciting emotions and a lot of fun</p>
    </li>
    <li class="list__card">
      <span class="icon icon-photos"></span>
      <p class="list__text">Great photos from your event</p>
    </li>
    <li class="list__card">
      <span class="icon icon-happiness"></span>
      <p class="list__text">Spend hours together in happiness</p>
    </li>
  </ul>
</section>
