<section class="section section--services">
  <h3 class="section__title">
    Our Services
  </h3>
  <p class="section__text">
    We want to make your wedding day perfect that is why suggest a lot of
    options for dance: not only for a bride and groom but for their friends and
    relatives
  </p>
  <div class="slider slider--services">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <app-card></app-card>
      </ng-template>
      <ng-template carouselSlide>
        <app-card></app-card>
      </ng-template>
      <ng-template carouselSlide>
        <app-card></app-card>
      </ng-template>
      <ng-template carouselSlide>
        <app-card></app-card>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
