<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
<section class="section section--services" *ngIf="!isLoading; else loader">
  <h3 class="section__title">
    {{ serviceContent.meta.title }}
  </h3>
  <p class="section__text">
    {{ serviceContent.meta.description }}
  </p>
  <div class="slider slider--services">
    <owl-carousel-o [options]="customOptions">
      <ng-template
        carouselSlide
        *ngFor="let slideContent of serviceContent.content"
      >
        <app-card [slideContent]="slideContent"></app-card>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
