<section class="section section--coach">
  <h3 class="section__title">
    Our Coaches
  </h3>
  <p class="section__text">
    Coaches in our school are not only perfect dancers but also have a big
    experience in coaching that is why you will feel really amazing after each
    of your class
  </p>
  <div class="slider slider--coaches">
    <div class="slider__card-outer">
      <div class="slider__card-inner">
        <div class="slider__img">
          <img src="assets/img/coach.png" alt="coach" />
        </div>
        <div class="slider__desc">
          <div class="slider__card-id">01</div>
          <h4 class="slider__title">
            For Bride and Groom
          </h4>
          <div class="slider_subtitle">Dancer</div>
          <ul class="slider__list">
            <li><span class="mark-text">Work experience</span> 8 years</li>
            <li><span class="mark-text">Teacher for</span> 3 years</li>
            <li><span class="mark-text">Style</span> Viennese Waltz, Salsa</li>
          </ul>
          <div class="slider__btn">
            <button class="default-button brand-btn">Let's start</button>
            <button class="default-button brand-btn brand-btn--mobile">
              <img src="assets/img/slider-button.svg" alt="arrow" />
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="slider__card-outer">
      <div class="slider__card-inner">
        <div class="slider__img">
          <img src="assets/img/coach-2.png" alt="coach" />
        </div>
        <div class="slider__desc">
          <div class="slider__card-id">02</div>
          <h4 class="slider__title">
            For Bride and Groom
          </h4>
          <div class="slider_subtitle">Dancer</div>
          <ul class="slider__list">
            <li><span class="mark-text">Work experience</span> 10 years</li>
            <li><span class="mark-text">Teacher for</span> 5 years</li>
            <li><span class="mark-text">Style</span> HipHop</li>
          </ul>
          <div class="slider__btn">
            <button class="default-button brand-btn">Let's start</button>
            <button class="default-button brand-btn brand-btn--mobile">
              <img src="assets/img/slider-button.svg" alt="arrow" />
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="slider__card-outer">
      <div class="slider__card-inner">
        <div class="slider__img">
          <img src="assets/img/coach.png" alt="coach" />
        </div>
        <div class="slider__desc">
          <div class="slider__card-id">01</div>
          <h4 class="slider__title">
            For Bride and Groom
          </h4>
          <div class="slider_subtitle">Dancer</div>
          <ul class="slider__list">
            <li><span class="mark-text">Work experience</span> 8 years</li>
            <li><span class="mark-text">Teacher for</span> 3 years</li>
            <li><span class="mark-text">Style</span> Viennese Waltz, Salsa</li>
          </ul>
          <div class="slider__btn">
            <button class="default-button brand-btn">Let's start</button>
            <button class="default-button brand-btn brand-btn--mobile">
              <img src="assets/img/slider-button.svg" alt="arrow" />
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="slider__card-outer">
      <div class="slider__card-inner">
        <div class="slider__img">
          <img src="assets/img/coach-2.png" alt="coach" />
        </div>
        <div class="slider__desc">
          <div class="slider__card-id">02</div>
          <h4 class="slider__title">
            For Bride and Groom
          </h4>
          <div class="slider_subtitle">Dancer</div>
          <ul class="slider__list">
            <li><span class="mark-text">Work experience</span> 10 years</li>
            <li><span class="mark-text">Teacher for</span> 5 years</li>
            <li><span class="mark-text">Style</span> HipHop</li>
          </ul>
          <div class="slider__btn">
            <button class="default-button brand-btn">Let's start</button>
            <button class="default-button brand-btn brand-btn--mobile">
              <img src="assets/img/slider-button.svg" alt="arrow" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-navigation">
    <div class="slider-navigation__prev-arrow">
      <svg
        width="40"
        height="28"
        viewBox="0 0 40 28"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g opacity="1">
          <g clip-path="url(#clip0)">
            <path
              d="M38.8081 13.9985L1.53775 13.9985"
              stroke-width="2"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M14.0205 26.8096L1.19179 13.9984L14.0205 1.19027"
              stroke-width="2"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </g>
        </g>
        <defs>
          <clipPath id="clip0">
            <rect
              x="40"
              y="28"
              width="40"
              height="28"
              transform="rotate(-180 40 28)"
              fill="white"
            />
          </clipPath>
        </defs>
      </svg>
    </div>
    <div class="slider-navigation__counter"></div>
    <div class="slider-navigation__next-arrow">
      <svg
        width="40"
        height="28"
        viewBox="0 0 40 28"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1.19189 14.0015H38.4623"
          stroke-width="2"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M25.9795 1.19043L38.8082 14.0016L25.9795 26.8097"
          stroke-width="2"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </div>
</section>
