<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
<div
  bsModal
  #editModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  [config]="{ backdrop: 'static', keyboard: false }"
>
  <div class="modal-dialog" *ngIf="!isLoading; else loader">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          Edit content
        </h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="hideEditModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm" (ngSubmit)="submitForm()">
          <h3 class="mt-2 mb-3">Meta content:</h3>
          <div
            class="form-group"
            *ngFor="let item of editContent.meta | keyvalue"
          >
            <div class="p-2">
              <label>{{ item.key }}</label>
              <input
                type="text"
                class="form-control"
                formControlName="{{ item.key }}"
                value="{{ item.value }}"
              />
            </div>
          </div>
          <!-- <h3 class="mt-2 mb-3">Page content:</h3>
          <div class="form-group" *ngFor="let item of editContent.content">
            <div class="p-2">
              <label>Title:</label>
              <input type="text" class="form-control" [value]="item.title" />
            </div>
            <div class="p-2">
              <label>Url:</label>
              <input type="text" class="form-control" [value]="item.url" />
            </div>
          </div> -->
          <button class="btn btn-primary btn-sm btn-block" type="submit">
            Update section
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
